.title{
    display: block;
    text-align: center;
    margin-top: 1vw;
    font-size: 1.5vw;
}
.block{
    display: block;
    border: 1px solid black;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1vw;
    height: 15vw;
}
.lyrics{
    display: block;
    width: 70vw;
    height: 6vw;
    border: 1px solid blue;
    margin-left: 4vw;
    margin-top: 1vw;
}
.key{
    margin-left: 30vw;
    margin-top: 1vw;
    margin-bottom: 0;
    border: 1px solid red;
    height: 2vw;
}
.done{
    height: 1.5vw;
    margin-top: 1vw;
    margin-left: 5vw;
    width: 3vw;
    /* border: 9px solid green; */
    background-color: green;
}